<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> -->
    <link rel="stylesheet" href="test.css" type="text/css">
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <div class="container" id="vue-app">
      <div class="fs-form-wrap" id="fs-form-wrap">
        <div class="fs-title">
          <h1>Create the group</h1>
        </div>
        <form id="myform" class="fs-form fs-form-full" autocomplete="off"></form>
        <button class="fs-continue fs-show" v-on:click="add(1);">
          Continue
        </button>
        <!-- <nav class="fs-nav-dots fs-show" v-bind:style="button:nth-child(showToggle()){background: red;}">
          <button class="fs-dot-current"></button>
          <button disabled></button>
          <button disabled></button>
          <button disabled></button>
          <button disabled></button>
          <button disabled></button>
        </nav> -->
        <nav class="fs-nav-dots fs-show">
          <button v-for="num in numbers"
          v-bind:class="[{ fsdotcurrent: num.num == number},{disabled: num.disabled}]"></button>
        </nav>
        <span class="fs-numbers fs-show">
          <transition-group name="slide-fade" mode="out-in">
            <span class="fs-number-current" v-if="show" key="current">{{ number }}</span>
            <span class="fs-number-next" v-if="!show" key="nextnum">{{ nextNumber }}</span>
          </transition-group>
          <span class="fs-number-total">6</span>
        </span>
      </div>
    </div>
    <script type="text/javascript" src="test.js">

    </script>
  </body>
</html>
