<!DOCTYPE html>
<html lang="en" class="js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> -->
    <link rel="stylesheet" href="test.css" type="text/css">
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <div class="container" id="vue-app">
      <div class="fs-form-wrap" id="fs-form-wrap">
        <div class="fs-title">
          <h1>Create the group</h1>
        </div>


        <form id="myform" class="fs-form" v-bind:class="[{fsformfull : formfull},{fsformoverview : overview}]" autocomplete="off">
          <ol class="fs-fields" v-bind:class="{fsdisplaynext : fstest}">
            <template v-if="numDifference >= 0">
            <transition-group name="fs-hide" mode="out-in">
              <li v-show="questions[0]"  key="firstq">
                <label class="fs-field-label fs-anim-upper" for="q1">What's your name?</label>
                <input class="fs-anim-lower" id="q1" name="q1" type="text" placeholder="Aung Kaung Myat" v-on:keyup.enter="add(1);" required/>
              </li>
              <li v-show="questions[1]"  key="secondq">
                <label class="fs-field-label fs-anim-upper" for="q2" data-info="We won't send you span, we promise...">What's your email address</label>
                <input class="fs-anim-lower" id="q2" name="q2" type="text" placeholder="akm@gmail.com" v-on:keyup.enter="add(1);" required/>
              </li>
              <li v-show="questions[2]"  key="thirdq">
                <label class="fs-field-label fs-anim-upper" for="q3">What's do you  want</label>
                <input class="fs-anim-lower" id="q3" name="q3" type="text" placeholder="games" v-on:keyup.enter="add(1);"required/>
              </li>
              <li v-show="questions[3]"  key="forthq">
                <label class="fs-field-label fs-anim-upper" for="q4">Where do you want to go</label>
                <input class="fs-anim-lower" id="q4" name="q4" type="text" placeholder="TTN" v-on:keyup.enter="add(1);"/>
              </li>
              <li v-show="questions[4]"  key="fifthq">
                <label class="fs-field-label fs-anim-upper" for="q5">What do you wanna eat</label>
                <input class="fs-anim-lower" id="q5" name="q5" type="text" placeholder="ramen" v-on:keyup.enter="add(1);"/>
              </li>
              <li v-show="questions[5]"  key="sixthq">
                <label class="fs-field-label fs-anim-upper" for="q6">Who do you love</label>
                <input class="fs-anim-lower" id="q4" name="q6" type="text" placeholder="liu yui fei" v-on:keyup.enter="add(1);"/>
              </li>
              <!-- <li v-show="questions[5]"  key="sixthq">
                <label class="fs-field-label fs-anim-upper" for="q6">Who do you love</label>
                <input class="fs-anim-lower" id="q4" name="q6" type="text" placeholder="liu yui fei"/>
              </li> -->
            </transition-group>
            </template>
            <template v-if="numDifference < 0">
            <transition-group name="fs-hide-reverse" mode="out-in">
              <li v-show="questions[0]"  key="firstq">
                <label class="fs-field-label fs-anim-upper" for="q1">What's your name?</label>
                <input class="fs-anim-lower" id="q1" name="q1" type="text" placeholder="Aung Kaung Myat" v-on:keyup.enter="add(1);" required/>
              </li>
              <li v-show="questions[1]"  key="secondq">
                <label class="fs-field-label fs-anim-upper" for="q2" data-info="We won't send you span, we promise...">What's your email address</label>
                <input class="fs-anim-lower" id="q2" name="q2" type="text" placeholder="akm@gmail.com" v-on:keyup.enter="add(1);" required/>
              </li>
              <li v-show="questions[2]"  key="thirdq">
                <label class="fs-field-label fs-anim-upper" for="q3">What's do you  want</label>
                <input class="fs-anim-lower" id="q3" name="q3" type="text" placeholder="games" v-on:keyup.enter="add(1);" required/>
              </li>
              <li v-show="questions[3]"  key="forthq">
                <label class="fs-field-label fs-anim-upper" for="q4">Where do you want to go</label>
                <input class="fs-anim-lower" id="q4" name="q4" type="text" placeholder="TTN" v-on:keyup.enter="add(1);"/>
              </li>
              <li v-show="questions[4]"  key="fifthq">
                <label class="fs-field-label fs-anim-upper" for="q5">What do you wanna eat</label>
                <input class="fs-anim-lower" id="q5" name="q5" type="text" placeholder="ramen" v-on:keyup.enter="add(1);"/>
              </li>
              <li v-show="questions[5]"  key="sixthq">
                <label class="fs-field-label fs-anim-upper" for="q6">Who do you love</label>
                <input class="fs-anim-lower" id="q4" name="q6" type="text" placeholder="liu yui fei" v-on:keyup.enter="add(1);"/>
              </li>
            </transition-group>
            </template>
            <!-- <li v-bind:class="[{fsHide: fstest},{fscurrent: questions[0]}]">
              <label class="fs-field-label fs-anim-upper" for="q1">What's your name?</label>
              <input class="fs-anim-lower" id="q1" name="q1" type="text" placeholder="Aung Kaung Myat" required/>
            </li>
            <li  v-bind:class="[{fstest : fstest},{fscurrent: questions[1]}]">
              <label class="fs-field-label fs-anim-upper" for="q2" data-info="We won't send you span, we promise...">What's your email address</label>
              <input class="fs-anim-lower" id="q2" name="q2" type="text" placeholder="akm@gmail.com" required/>
            </li>
            <li v-bind:class="[{fstest : fstest},{fscurrent: questions[2]}]">
              <label class="fs-field-label fs-anim-upper" for="q3">What's do you  want</label>
              <input class="fs-anim-lower" id="q3" name="q3" type="text" placeholder="games" required/>
            </li> -->
            <!-- <li  v-bind:class="{fsHide: fstest}">
              <label class="fs-field-label fs-anim-upper" for="q1">What's your name?</label>
              <input class="fs-anim-lower" id="q1" name="q1" type="text" placeholder="Aung Kaung Myat" required/>
            </li>
            <li v-show="questions[1]" v-bind:class="{fstest : fstest}">
              <label class="fs-field-label fs-anim-upper" for="q2" data-info="We won't send you span, we promise...">What's your email address</label>
              <input class="fs-anim-lower" id="q2" name="q2" type="text" placeholder="akm@gmail.com" required/>
            </li>
            <li v-show="questions[2]" v-bind:class="{fstest : fstest}">
              <label class="fs-field-label fs-anim-upper" for="q3">What's do you  want</label>
              <input class="fs-anim-lower" id="q3" name="q3" type="text" placeholder="games" required/>
            </li> -->
          </ol>
          <button class="fs-submit" type="submit">Send answers</button>
        </form>

        <!-- fs control -->
        <div class="fs-controls">
        <button class="fs-continue" v-bind:class="{fsShow: formfull}" v-on:click="add(1);">
          Continue
        </button>
        <nav class="fs-nav-dots" v-bind:class="{fsShow: formfull}">
          <button v-for="num in numbers"
          v-bind:class="[{ fsdotcurrent: num.num == number},{disabled: num.disabled}]" v-bind:id="num.num" v-on:click="changeNumber"></button>
        </nav>
        <span class="fs-numbers" v-bind:class="{fsShow: formfull}">
          <template v-if='numDifference >= 0'>
            <transition-group name="slidedown-fade" mode="out-in">
              <span class="fs-number-current" v-if="show" key="current">{{ number }}</span>
              <span class="fs-number-next" v-if="!show" key="nextnum">{{ nextNumber }}</span>
            </transition-group>
          </template>
          <template v-else-if='numDifference < 0'>
            <transition-group name="slideup-fade" mode="out-in">
              <span class="fs-number-current" v-if="show" key="current">{{ number }}</span>
              <span class="fs-number-next" v-if="!show" key="nextnum">{{ nextNumber }}</span>
            </transition-group>
          </template>
          <span class="fs-number-total">6</span>
        </span>
        </div>
        <!-- fs control -->

      </div>
    </div>
    <script type="text/javascript" src="test.js">

    </script>
  </body>
</html>
