@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

*, *:after,  *:before{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body, .container {
	height: 100%;
}

body {
	background: #3b3f45;
	color: #fff;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
	overflow: hidden;
	overflow-y: scroll;
	min-height: 590px;
}

.fs-form-wrap{
  position: relative;
  color: #fff;
  width: 100%;
  height: 100%;
}

.fs-title{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 40px;
	width: 100%;
}

.fs-title h1{
	margin: 0;
}

/* Number indicator */
.fs-numbers{
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
	color: rgba(0,0,0,0.4);
	margin: 40px;
	width: 2em;
	font-weight: 700;
	font-size: 2em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: default;
}

.fs-numbers:after {
	position: absolute;
	width: 100%;
	text-align: center;
	content: '/';
	font-weight: 300;
	opacity: 0.4;
	left: 0;
}

.fs-numbers span{
	float: right;
	width: 40%;
	text-align: center;
}

.fs-numbers .fs-number-current{
	float: left;
}
