@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

*, *:after,  *:before{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body, .container {
	height: 100%;
}

body {
	background: #3b3f45;
	color: #fff;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
	overflow: hidden;
	overflow-y: scroll;
	min-height: 590px;
}

.fs-form-wrap{
  position: relative;
  color: #fff;
  width: 100%;
  height: 100%;
}

.fs-title{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 40px;
	width: 100%;
}

.fs-title h1{
	margin: 0;
}

/* Number indicator */
.fs-numbers{
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
	color: rgba(0,0,0,0.4);
	margin: 40px;
	width: 2em;
	font-weight: 700;
	font-size: 2em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: default;
}

.fs-numbers:after {
	position: absolute;
	width: 100%;
	text-align: center;
	content: '/';
	font-weight: 300;
	opacity: 0.4;
	left: 0;
}

.fs-numbers span{
	float: right;
	width: 40%;
	text-align: center;
}

.fs-numbers .fs-number-current, .fs-numbers .fs-number-next{
	float: left;
	position: absolute;
	left: 0;
}


/* Number indicator end */

/*continue button*/
.fs-nav-dots,
button.fs-continue{
	visibility: hidden;
}

.fs-show{
	visibility: visible !important;
}

.fs-form-wrap button{
	border: none;
	background: none;
}

.fs-form-wrap button[disabled] {
	opacity: 0.3;
	pointer-events: none;
}

.fs-form-wrap button:focus{
	outline: none;
}

button.fs-continue{
	padding: 0.6em 1.5em;
	border: 3px solid #232529;
	border-radius: 40px;
	font-weight: 700;
	color: rgba(0,0,0,0.4);
}

button.fs-continue{
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 0 40px 60px 0;
	font-size: 1.25em;
}

button.fs-continue:hover{
	background: #232529;
	color: #fff;
}

.fs-continue::after{
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	line-height: 3;
	text-align: center;
	background: transparent;
	color: rgba(0,0,0,0.3);
	content: 'or press ENTER';
	font-size: 0.65em;
	pointer-events: none;
}

/*temporarily removed for unknown purpose*/

/*button.fs-continue{
	right: 20px;
	bottom: 20px;
	margin: 0;
	padding: 50px 0 0 50px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	font-size: 2em;
}

button.fs-continue::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '\27A1';
	text-align: center;
	font-size: 1em;
	line-height: 50px;
}*/

/*.fs-continue::after {
	content: '';
}*/

/* end of continue button */

/*for number animation*/
.slide-fade-enter-active {
  transition: all .2s ease;
}
.slide-fade-leave-active {
  transition: all .15s ease;
}
.slide-fade-leave-to {
  transform: translateY(-50%);
  opacity: 0;
}

.slide-fade-enter {
  transform: translateY(50%);
}
/*end of number animation*/

/* for nav dots */
.fs-nav-dots{
	position: absolute;
	top: 50%;
	right: 60px;
	left: auto;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.fs-nav-dots button{
	position: relative;
	display: block;
	padding: 0;
	margin: 16px 0;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: transparent;
	-webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
	transition: transform 0.3s ease, opacity 0.3s ease;
}

.fs-nav-dots button::before,
.fs-nav-dots button::after{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.5);
	content: '';
	text-indent: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.fs-nav-dots button::after{
	background-color: rgba(0,0,0,0.4);
	-webkit-transform: perspective(1000px) rotate3d(0,1,0,180deg);
	transform: perspective(1000px) rotate3d(0,1,0,180deg);
}

.fs-nav-dots button.fs-dot-current{
	-webkit-transform: perspective(1000px) rotate3d(0,1,0,180deg);
	transform: perspective(1000px) rotate3d(0,1,0,180deg);
}

.fs-nav-dots button:hover::before,
.fs-nav-dots button.fs-dot-current::before{
	background: #fffed8;
}
