<!DOCTYPE html>
<html>
  <head>
    <title>Join Group</title>
    <link rel="stylesheet" href="/assets/groupJoin.css" type="text/css">
  </head>
  <body>
    <p>Current location is</p>
    <div id="current">Nothing yet...</div>
    <p id='latAndLong'></p>
    <div id="map"></div>
      <script>
  var local_data = <%- JSON.stringify(data) %>;
      </script>
      <script src="/controllers/groupJoin.js"></script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFfdUNgAXnvosFCsyVy1ZoW8B01MQtUrI">
      </script>
  </body>
</html>
