<!DOCTYPE html>
<html>
	<head>
		GatheringApp
	</head>
	<body>
    <p><%=uname%> , what types of groups would you like to make</p>
		<form name='creategrp-form' id="creategrp-form" method="POST" action='/createSuccess'>
  Numbers of participants:
  <input type="text" name="numParticipants"><br>
  Wishlist:
  <input type="radio" name="Yes" value="Yes" checked> Yes
  <input type="radio" name="No" value="No"> No<br>
  Game Type:
  <input type="checkbox" name="Normal" value="Normal"> Normal
  <input type="checkbox" name="Rank" value="Rank"> Rank<br>
  Time to Start:
  <input type="text" name="StartTime"><br>
	Latitude:<input type="text" name="lat" id="lat"><br>
	Longitude: <input type="text" name="lng" id="lng"><br>
  <input type="submit" value="submit"></button>
</form>


	</body>
</html>
