<!DOCTYPE html>
<html>
  <head>
    <title>Join Group</title>
    <link rel="stylesheet" href="/assets/groupJoin.css" type="text/css">
  </head>
  <body>

    <p>Current location is</p>
    <div id="current">Nothing yet...</div>
    <p id='latAndLong'></p>

    <div class="mapContainer">
      <div id="input_container">
        <input id="searchBox" class="controls" type="text" placeholder="Search Box">
        <input id="toBeMovedLeft" type="textarea" value="" disabled/>
        <img src="/assets/img/group.svg" alt="" id="input_img">
      </div>

      <div id="map">
    </div>


    </div>
      <script>
  var local_data = <%- JSON.stringify(data) %>;
      </script>
      <script src="/controllers/groupJoin.js"></script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFfdUNgAXnvosFCsyVy1ZoW8B01MQtUrI&libraries=places">
      </script>
  </body>
</html>
