<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="login-page">
    <img src="/assets/img/networkColor.png" alt="" id="logo">

    <form name='login-form' id="login-form" method="POST" action='/select' >
      <!-- <label for="usrname">Enter your name: </label> -->
      <!-- <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input type="text" name="usrname" class="form-control" placeholder="Username" id="usrname">
      </div> -->
      <div class="userInputs">
        <div class="inner-addon left-addon">
          <i class="glyphicon glyphicon-user"></i>
          <input type="text" name="usrname" class="form-control" placeholder="Username" id="usrname"/>
        </div>

        <div class="inner-addon left-addon">
          <i class="glyphicon glyphicon-lock"></i>
          <input type="text" name="password" class="form-control" placeholder="Password" id="password"/>
        </div>
      </div>


      <!-- <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input type="text" name="password" class="form-control" placeholder="Password" id="password"><br>
      </div> -->


      <input type="hidden" name="lat" id="lat">
      <input type="hidden" name="lng" id="lng">
      <input type="submit" value="Log In" id="submitbut">

    </form>

    <form action="/signUp" id="signUp-form"  method="GET">
      <!-- <input type="submit" value="signUp"> -->
      <div id="signUpLink">
        <a href="#"  onclick="document.forms['signUp-form'].submit();return false;">Create an account?</a>
      </div>

    </form>

    </div>

    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script>
    var socket = io();

    window.onload = function(){
      navigator.geolocation.getCurrentPosition(showPosition);
    }
    var lat;
    var lng;

    function showPosition(position) {
      var lat = position.coords.latitude;
      var lng = position.coords.longitude;
      document.getElementById('lat').value = lat;
      document.getElementById('lng').value = lng;
      console.log('lat is: ' + document.getElementById('lat').value + ' and lng is ' + document.getElementById('lng').value);
    }
    // function currentUser(){
    //   var uname = document.getElementById('usrname').value;
    //   console.log('username is' + usrname);
    //   socket.emit('setCurrentUser',uname);
    // }
    $(document).ready(function() {
    $('form[name="login-form"]').submit(function(event){
     var uname = document.getElementById('usrname').value;
       console.log('username is' + usrname);
       socket.emit('setCurrentUser',uname);
});
      });
    </script>
  </body>
</html>
