<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="/assets/select.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <p>Welcome from selection page <%=userinfo.usrname%></p>
    <div class="main-wrap">
      <div class="vertical-line"></div>
      <div class="left-column">
          <form id="create-form" method="GET" action="/groupCreate">
            <!-- <input type="submit" value="Create Group" class="createButton"> -->
            <a href="#"  onclick="document.forms['create-form'].submit();return false;">
            <div class="createButton">Create</div>
            </a>
          </form>
      </div>
      <div class="right-column">
          <form id="join-form" method="GET" action="/groupJoin">
            <!-- <input type="submit" value="Join Group" class="joinButton"> -->
            <a href="#"  onclick="document.forms['join-form'].submit();return false;">
            <div class="joinButton">Join</div>
            </a>
          </form>
      </div>
    </div>


    <!-- <hr width="1" size="500"> -->


  </body>
</html>
