<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="/assets/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <p>Welcome from selection page <%=userinfo.usrname%></p>
    <form id="create-form" method="GET" action="/groupCreate">
      <input type="submit" value="Create Group">
    </form>
    <form id="join-form" method="GET" action="/groupJoin">
      <input type="submit" value="Join Group">
    </form>
    
  </body>
</html>
