<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="/assets/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>Welcome from the signup page</h1>
    <form id="signUp-submit" method="POST" action='/'>
      <label for="usrname">Enter your name: </label>
      <input type="text" name="usrname"><br>
      <label for="password">Enter your password: </label>
      <input type="text" name="password"><br>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
