<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/assets/signUp.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <nav>
      <form action="/" id="login-form" method="GET">
        <a href="#"  onclick="document.forms['login-form'].submit();return false;">
          <div id="goBack">
            <img src="/assets/img/left-arrow-key.png" alt="" id="arrow">
            <span>Back</span>
          </div>
        </a>
      </form>
    </nav>

    <div id="motto">
      <h1 id="firstH">Let's Gather,</h1>
      <h1 id="secondH">Create Better</h1>
    </div>

    <!-- <h1 id="thirdH">Create</h1>
    <h1 id="forthH">Better</h1> -->
    <div class="signUp-page">
      <img src="/assets/img/login.png" alt="" id="logo">
      <form id="signUp-submit" method="POST" action='/'>
        <!-- <label for="usrname">Enter your name: </label>
        <input type="text" name="usrname"><br>
        <label for="password">Enter your password: </label>
        <input type="text" name="password"><br> -->
        <div class="userInputs">
          <div class="inner-addon left-addon">
            <i class="glyphicon glyphicon-user"></i>
            <input type="text" name="usrname" class="form-control" placeholder="Username" id="usrname"/>
          </div>

          <div class="inner-addon left-addon">
            <i class="glyphicon glyphicon-lock"></i>
            <input type="text" name="password" class="form-control" placeholder="Password" id="password"/>
          </div>
        </div>

        <input type="submit" value="Sign Up" id="submitbut">
      </form>
    </div>

  </body>
</html>
