doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/js1.js')
    script(type='text/javascript', src='/javascripts/gen_validatorv4.js')
  body
    block content
