
.heading{
  text-align: center;
}

.mapContainer{
  /*position: relative;*/
  height: 400px;
  width: 100%;

}

#map {
  height: 100%;
  width: 100%;
 }

#input_container{
  position: absolute;
  left: 8%;
  z-index: 2;
}



 #searchBox {
         background-color: #fff;
         /*background-image: url(/assets/img/group.svg) no-repeat 7px 7px;*/
         font-family: Roboto;
         font-size: 15px;
         font-weight: 300;
         margin-left: 12px;
         margin-top: 10px;
         padding: 5px 11px 5px 43px;
         text-overflow: ellipsis;
         width: 400px;
}

#toBeMovedLeft{
  margin-left: -425px;
  background: #bababc;
  width:0px;
  border:none;
  border-color:
}


#searchBox:focus {
       border-color: #4d90fe;
     }

#input_img{
  position:absolute;
    bottom:4px;
    left:18px;
    width:24px;
    height:24px;
    z-index: 3;
}
