@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

body{
   background: #16a085;
   font-weight: 400;
	font-size: 2em;
	font-family: 'Raleway', Arial, sans-serif;
}

p{
   text-align: center;
}



.main-wrap{
   /*width: 100%;*/
   overflow: hidden;
   height: 90vh;
   /*background: pink;*/

}


.left-column{
   /*width: 48%;*/
   height: 500px;
   /*background: red;*/
   margin-top: 10vh;
   /*margin-left: 1%;*/
   /*float: left;*/
}

.right-column{

   /*width: 48%;*/
   height: 500px;
   /*background: white;*/
   margin-top: 10vh;
   /*margin-right: 1%;*/
   /*float: right;*/
}

.centered{
   top: 50%;
}

.createButton{
   /*top: 50%;
   left: 50%;*/
   width: 100px;
   height: 100px;
   background: #ff6d4a;
   border-radius: 50px;
   color: #fff;
   text-align: center;
   line-height: 100px;
   font-weight: bold;
   text-transform: uppercase;
   animation: animate 3s linear infinite;
   /*margin: 250px 0 0 450px;*/
   /*transform: translate(-50%,-50%);*/
   margin: 0 auto;
}

.joinButton{
   /*top: 50%;
   left: 50%;*/
   width: 100px;
   height: 100px;
   background: #ff6d4a;
   border-radius: 50px;
   color: #fff;
   font-weight: bold;
   text-align: center;
   line-height: 100px;
   text-transform: uppercase;
   animation: animate 3s linear infinite;
   /*margin: 250px 0 0 450px;
   transform: translate(-50%,-50%);*/
}

@keyframes animate {
   0%{
      box-shadow: 0 0 0 0  rgba(255,109,74,.7), 0 0 0 0  rgba(255,109,74,.7);
   }
   40%{
      box-shadow: 0 0 0 50px  rgba(255,109,74,0), 0 0 0 0  rgba(255,109,74,.7);
   }
   80%{
      box-shadow: 0 0 0 50px  rgba(255,109,74,0), 0 0 0 30px  rgba(255,109,74,0);
   }
   100%{
      box-shadow: 0 0 0 0  rgba(255,109,74,0), 0 0 0 30px  rgba(255,109,74,0);
   }
}

#create-form a, #join-form a{
   text-decoration: none;
}

/*.joinButton{
   /*top: 50%;
   left: 50%;
   margin: 250px 0 0 270px;
}*/

div.vertical-line{
   position: absolute;
   width: 1px; /* Line width */
   background-color: #fff; /* Line color */
   height: 700px; /* Override in-line if you want specific height. */
   margin-top: 20px;
   left: 50%;
}
