body {
  background: #d86351;
  font-size: 16px;
  color: #fff;
  padding: 30px;
}

p {
  font-size: 16px;
  text-align: center;
}

.login-page {
  position: absolute;
  width: 500px;
  height: 350px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -175px 0 0 -250px;
  /*background: pink;*/
}

#logo {
  width: 75px;
  height: 75px;
  margin-left: 200px;
}


input[type="text"] {
  /*background: transparent;*/
  background: none;
  border: 1px groove #8cecf7;
  color: white;
}

.userInputs ::-webkit-input-placeholder { /* Chrome */
  color: white;
  transition: opacity 250ms ease-in-out;
}

.userInputs input[type='text']:hover{
  background: #DB7463;
}

.userInputs {
  padding: 10px;
}


/* enable absolute positioning */

.inner-addon {
  position: relative;
  width: 80%;
  margin: 0 auto;
}


/* style glyph */

.inner-addon .glyphicon {
  position: absolute;
  padding: 16.66px;
  pointer-events: none;
}


/* align glyph */

.left-addon .glyphicon {
  left: 0px;
}


/* add padding  */

.left-addon input {
  padding-left: 47px;
  height: 50px;
}

#submitbut{
  display: block;
  width: 60%;
  height: 45px;
  background: white;
  color: #d86351;
  font-weight: bold;
  margin: 0 auto;
  border-radius: 25px;
}

#signUpLink{
  display: block;
  margin: 0 auto;
  margin-left: 180px;
  margin-top: 20px;

}

#signUpLink a{
  color: pink;
}
